/* Manrope Font */
@font-face {
    font-family: 'Manrope';
    src:  url('../fonts/Manrope-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

/* General Serif Font */
@font-face {
    font-family: 'General Serif';
    src: url('../fonts/GeneralSans-Variable.ttf')  format('truetype');
    src: url('../fonts/GeneralSans-VariableItalic.ttf')  format('truetype');
    font-weight: 100 900;
    font-style: normal;
}
@font-face {
    font-family: 'General Serif';
    src: url('../fonts/GeneralSans-VariableItalic.ttf')  format('truetype');
    font-weight: 100 900;
    font-style: italic;
}
@font-face {
    font-family: 'General Serif';
    src: url('../fonts/GeneralSans-Variable.ttf')  format('truetype');
    font-weight: 100 900;
    font-style: normal;
}
@font-face {
    font-family: 'General Serif';
    src: url('../fonts/GeneralSans-VariableItalic.ttf')  format('truetype');
    font-weight: 100 900;
    font-style: italic;
}

:root {
    --font-sans: 'Manrope', sans-serif;
    --font-serif: 'General Serif', serif;
  }

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: var(--font-sans);
    background-color: #f7f4ff;
    color: #333;
    height: 100%;
    margin: 0;
  }
  
  /* Header */
  header {
    text-align: center;
    padding: 20px;
  }
  
  header h1 {
    font-size: 2.5rem;
    color: #5e3d9f;
  }
  
  header p {
    font-size: 1.2rem;
    color: #7a6fa8;
    margin: 10px 0;
    
  }
  
  .search-bar {
    margin-top: 15px;
    padding: 10px;
    width: 70%;
    max-width: 400px;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  /* Filter Section */
  .filter-section {
    text-align: center;
    margin: 20px 0;
  }
  
  .filter-button {
    background-color: #e4d9fa;
    border: none;
    color: #5e3d9f;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 20px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: transform 0.2s ease;
    
  }
  
  .filter-button:hover {
    background-color: #d6c5f5;
    transform: scale(1.1);
  }
  
  .filter-button.active {
    background-color: #5e3d9f;
    color: white;
  }
  
  /* Card Grid */
  .card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 cards per row */
    gap: 20px;
    padding: 20px;
  }
  
  /* For tablets: 2 cards per row */
  @media (max-width: 992px) {
    .card-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  /* For mobile: 1 card per row */
  @media (max-width: 600px) {
    .card-grid {
      grid-template-columns: 1fr;
    }
  }
  
  /* Card */
  .card {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s ease;
    cursor: pointer;
    height: 100%; 
    width: 100%;/* Ensure it takes full height of grid */
    position: relative; 
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-image-wrapper {
    background-color: #e4d9fa;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;
  }
  
  .card-image {
    max-width: 100%;
    max-height: 150px;
    object-fit: contain;
    border-radius: 8px;
  }
  
  .card-content {
    padding: 15px;
  }
  
  .card-content h3 {
    font-size: 1.6rem;
    color: #333;
    margin: 10px 0;
  }
  
  .card-content p {
    font-size: 1.2rem;
    color: #555;
    margin: 5px 0;

  }

  .download-icon {
    font-size: 1.5rem;
    color: #5e3d9f; /* Icon color */
    cursor: pointer;
    transition: color 0.2s ease;
  }
  
  .download-icon:hover {
    color: #EF4444; /* Color change on hover */
    transform: scale(1.2);
  }
  
  .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; /* Ensure it spans the full width of the card */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

  
  .card-bottom .tags {
    display: flex;
    gap: 0.75rem;
  }
  
  .card-icons {
    display: flex;
    gap: 30px; /* Space between icons */
    display: flex;
    align-items: center;
  }

  /* Tags */
  .category-tag {
    display: inline-block;
    font-size: 1.1rem;
    color: #5e3d9f;
    margin-right: 10px;
  }
  
  .type-tag-green,
  .type-tag-blue,
  .type-tag-orange,
  .type-tag-red {
    display: inline-block;
    font-size: 1.1rem;
    padding: 2px 6px;
    border-radius: 4px;
    font-family: var(--font-sans);
  }
  
  .type-tag-green {
    color: #1d6f42;
    background-color: #e2f4e9;
  }
  
  .type-tag-blue {
    color: #004080;
    background-color: #cce5ff;
  }
  
  .type-tag-orange {
    color: #804000;
    background-color: #ffe5cc;
  }
  
  .type-tag-red {
    color: #800000;
    background-color: #ffcccc;
  }
  
  
.heart-icon {
    font-size: 2rem;
    color: #D1D5DB;
    cursor: pointer;
    transition: color 0.2s ease;
}
    .heart-icon:hover {
        transform: scale(1.2);
        color: #EF4444; /* Color change on hover */
      }

    /* position: absolute;
    bottom: 10px; 
    right: 10px;   */
  
  
  .heart-icon.favorited {
    color: #EF4444;
  }
  
  /* Lightbox */
  .lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.4s ease;
  }
  
  .lightbox.show {
    display: flex;
    opacity: 1;
  }
  
  .lightbox-content {
    background: #fff;
    border-radius: 10px;
    max-width: 80%;
    width: 700px;
    text-align: center;
    padding: 20px;
    position: relative;
    transform: scale(0.9);
    transition: transform 0.3s ease;
  }
  
  .lightbox.show .lightbox-content {
    transform: scale(1);
  }
  
  .lightbox img {
    max-width: 100%;
    max-height: 400px;
    margin-bottom: 20px;
    border-radius: 8px;
  }
  
  /* Lightbox Text */
  .lightbox-text {
    color: #333;
    font-family: var(--font-serif);
    font-weight: 500;
  }
  
  .lightbox-text h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .lightbox-text p {
    font-size: 1rem;
    margin: 5px 0;
  }
  
  .citation {
    font-size: 0.9rem;
    color: #555;
  }
  
  .citation-format {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #333;
    font-style: italic;
  }
  
  .license a {
    color: #007bff;
    text-decoration: none;
  }
  
  .license a:hover {
    text-decoration: underline;
  }
  
  /* Lightbox Close Button */
  .close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    cursor: pointer;
  }
  
  .close:hover {
    color: #000;
  }
  
  /* Download Button */
  #download-button {
    background-color: #5e3d9f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 20px;
    bottom: 10px;
    right: 100px;
  }
  
  #download-button:hover {
    background-color: #462a77;
  }
  
  /* Footer */
  footer {
    margin-top: auto;
    background-color: #5e3d9f;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 0.9rem;
    line-height: 1.6;
  }
  
  footer a {
    color: #ffd700;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  
  footer .footer-links {
    margin-top: 10px;
  }
  
  html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  .site-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5em;
  }